.head{
    padding: 0.4vw 1vw;
    /* background-color: black; */
    color: black;
    font-family: American Typewriter, serif;
    font-weight: bolder;
    font-size: 3vh;
    letter-spacing: 2px;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid black;
}

.page{
    height: 90vh;
    padding: 0vw 2vw;
    background: white;
}

.Wait{
    position:absolute;
    top:40%;
    left:50%;
    font-size: 20px;
    color: white;
    text-shadow: black 0px 0px 10px;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.banner{
    display: flex;
    flex: 3.5;
    margin: 0 2vw;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 10px;
}

.filter_title{
    /* font-family: American Typewriter, serif; */
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center; 
    height: 40px;  
    margin-bottom:10px; 
}

.tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-right: 20vw;
}

.menu {
    /* width: 100%;  */
    /* margin-right: 3vw; */
    /* border: 1px solid black; */
    margin: 0 2vw;
    font-weight: normal;
    height: 80vh;
}

.menu a {
    /* background-color: #eee;  */
    color: black; 
    display: block; 
    padding: 12px; 
    border-bottom: 0.5px solid black;
    /* text-overflow: ellipsis; */
    cursor: pointer;
}

.menu a:hover {
    background-color: black;
    color:white; 
}

.menu a.active {
    background-color: #04AA6D;
    color: white;
}

.benchmark{
    border-radius: 10px;
    display: flex;
    flex: 10;
    height: 80vh;
    /* padding: 1vw 3vw; */
    /* border-left: 1px solid black; */
    /* border: 1px solid black; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.photo{
    /* border: 1px solid black; */
    margin-right: 5vw;
    object-fit: contain; 
    width: 600px; 
    height:400px;
}

.floating_edit{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: white;  
    box-shadow: gray 0 1px 6px;
    /* background-color: black; */
}

.floating_edit i{
    font-size: 30px;  
    background-color: white;  
}

.floating_edit:hover{
    background: black;
    color: white;
    cursor: pointer;
}

.floating_edit:hover i{
    background: black;
}

.floating_URL{
    position: fixed;
    right: 20px;
    bottom: 80px;
    text-align: right;
}

.floating_URL input{
    font-size: 15px;
    text-align: center;
    width: 170px;
    border-radius: 20px;
    height: 30px;
    box-shadow: gray 0 1px 2px;
    transition: ease-in-out, width .3s ease-in-out;
}

.floating_URL input:focus{
    width: 400px;
    border: 1px solid black;
}

.floating_URL button{
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 17px;
    background-color: white;
    cursor: pointer;
    box-shadow: gray 0 1px 6px;
}

.floating_URL button:hover{
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
}